{{- if .Values.postgres.enabled -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "gitnut.fullname" . }}-postgres
  labels:
    {{- include "gitnut.labels" . | nindent 4 }}
    app.gitnut.io/component: postgres
spec:
  serviceName: {{ include "gitnut.fullname" . }}-postgres
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.gitnut.io/component: postgres
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.gitnut.io/component: postgres
    spec:
      containers:
        - name: postgres
          image: {{ .Values.postgres.image | quote }}
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_USER
              value: {{ .Values.postgres.user | quote }}
            - name: POSTGRES_PASSWORD
              value: {{ .Values.postgres.password | quote }}
            - name: POSTGRES_DB
              value: {{ .Values.postgres.db | quote }}
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: {{ .Values.postgres.storage | quote }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "gitnut.fullname" . }}-postgres
  labels:
    {{- include "gitnut.labels" . | nindent 4 }}
    app.gitnut.io/component: postgres
spec:
  selector:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.gitnut.io/component: postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
{{- end -}}
